<!DOCTYPE html>
<html lang="en">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<head>
		<meta charset="utf-8" />
		<title>Calculadora Financiera</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<!-- My CSS -->
		<link rel="stylesheet" type="text/css" href="/static/style.css" />

		<!-- JQuery JS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>

		<!-- Bootstrap JS-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>


		<!-- My Javascript -->
		<script src="/static/amortizacion.js" defer></script>
		<script src="/static/plazofijo.js" defer></script>
		
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-nav">
			<a class="navbar-brand" style="color:dodgerblue">
				FinanzUP!
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/plazo">Plazo Fijo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/prestamo">Préstamo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/solicitudes">Solicitudes</a>
					</li>
				</ul>
			</div>
		</nav>
		{% if get_flashed_messages() %}
				<div class="alert alert-success border text-center" style="margin-top: 60px" role="alert">
					{{ get_flashed_messages() | join(" ") }}
				</div>
		{% endif %}

		{% block content %}
		{% endblock %}

		<footer class="footer">
			<div class="container">
				<span class="text-muted">&copy; 
					<a href="mailto:marcorichetta@gmail.com">Marco Richetta</a>
				</span>
			</div>
		</footer>
	</body>
</html>