{% extends "layout.html" %}
{% block content %}
<div class="container pad">
    <div class="row">
        <div class="col-md-4">
            <h3>Solicitá un préstamo</h3>
            <p>Ingresá los datos y presioná calcular para obtener los resultados.</p>
            <form action="/solicitudPrestamo" method="GET">
                <div class="form-group">
                    <label for="capitalLabel">Capital</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" id="capital" name="capital" aria-describedby="capitalHelp" 
                        max="100000" min="5000" placeholder="5000" required>
                    </div>
                    <small id="capitalHelp" class="form-text text-muted">Máximo $100000</small>
                </div>

                <div class="form-group">
                    <label for="plazoLabel">Duración del préstamo (en meses)</label>
                    <input type="number" class="form-control" id="plazo" name="plazo" 
                    aria-describedby="plazoHelp" max="72" min="1" placeholder="12" required>
                    <small id="plazoHelp" class="form-text text-muted">Máximo 72 meses</small>
                </div>

                <div class="form-group">
                    <label for="sistemaLabel">Sistema de amortización</label>
                    <select class="form-control" id="sistema" name="sistema" required>
                        <option value="1">Francés</option>
                        <option value="2">Alemán</option>
                    </select>
                    </div>

                <button onclick="calcularAmort()" id="Calcular" type="button" class="btn btn-primary">Calcular</button>
                <button type="submit" id="solicitudPrestamo" class="btn btn-success">Solicitar</button>
            </form>
        </div><!-- Columna izquierda -->

        <div class="col-md-8">
            <div class="right-area">
                <h3 class="alert alert-primary">Importe de la primera cuota</h3>
                <form>
                    <div class="row">
                        <label for="ResultadoCapital" class="col-sm-5 col-form-label">Amortización + Intereses</label>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label importante" id="ResultadoCapital"></label>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <!-- En el caso de que se usara IVA habilitaremos estos campos para los scripts.
                    <div class="row">
                        <label for="Iva" class="col-sm-5 col-form-label">I.V.A</label>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label calculos" id="Iva"></label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label for="ResultadoIva" class="col-sm-5 col-form-label">Cuota + I.V.A</label>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label importante" id="ResultadoIva"></label>
                        </div>
                    </div>
                    -->
                    <div class="row">
                        <label for="Fecha" class="col-sm-5 col-form-label">Fecha de pago</label>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label" id="Fecha"></label>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <label for="Ingresos" class="col-sm-5 col-form-label">Ingresos Necesarios</label>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label importante" id="Ingresos"></label>
                        </div>
                    </div>
                </form>

                <h3 class="alert alert-primary">Tasas</h3>
                <form>
                    <div class="row">
                            <abbr class="col-sm-5 col-form-label" for="tna" title="Tasa Nominal Anual">TNA</abbr>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label" id="TNA"></label>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                            <abbr class="col-sm-5 col-form-label" for="tem" title="Tasa Efectiva Mensual">TEM</abbr>
                        <div class="col-sm-3">
                            <label type="text" class="col-form-label" id="TEM"></label>
                        </div>
                    </div>
                </form>
            </div><!-- right-area -->
        </div><!-- Columna derecha -->
    </div><!-- row -->
    <div class="row" style="padding: 40px">
        <table id="tablaAmortizacion" class="table table-hover table-striped">
            <caption id="descripcion">Tabla de amortización</caption>
            <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Interés</th>
                    <th scope="col">Amortización</th>
                    <th scope="col">Cuota</th>
                    <th scope="col">Saldo</th>
                </tr>
            </thead>
            <tbody id="cuerpoTabla">
            </tbody>
        </table>
    </div><!-- Tabla -->
</div><!-- container -->
{% endblock %}